*{
background-color: rgb(241, 228, 228);
background: transparent;

}
.navbar{
    width:100%;
    height: 80px;
    background-color: rgb(24, 13, 13);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}

.links {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 80px;
    font-size: 20px;
  }
  